<!DOCTYPE html>
<html>
<head>
  <title>Détail Réservation</title>
</head>
<body>

<h1>Détail réservation</h1>

<p>Client : <%= reservation.clientName %></p>

<p>Bateau : <%= reservation.boatName %></p>

<p>Catway : <%= reservation.catwayNumber %></p>

<p>Check In : <%= reservation.checkIn %></p>

<p>Check Out : <%= reservation.checkOut %></p>

</body>
</html>